.filter-grid-section--height{
    height: auto;
    margin-bottom: 50px;
}
.section-box-container {
    position: relative;
    text-align: left;
    width: 100%;
}
.swiper-zoom-container {width: 100%;height: 400px;}
.section-boxes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.section-boxes-wrap{
    padding: 10px 0;
    width: 23%;
    height: auto;
}
.section-title{
    position: relative;
    transition: .3s ease;
    padding: 8px;
}
.section-title::before{
    content: "";
    position: absolute;
    top: 8%;
    left: 0%;
    background: #ffffff4a;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .3s ease all;
    border-radius: 5px;
    box-shadow: 0px 8px 16px #9D9D9D;
}
.section-title:hover::before{
    top: 0%;
    left: 0%;
    transform: scale(1.03);
}
.title-area{
    position: absolute;
    bottom: -300px;
    transition: .3s ease-in-out;
    padding: 10px;
    width: 100%;
    background: #fff;
    border-radius: 10px 10px 0 0;
}
.section-projects-overflow{
    transition: .3s ease;
    position: relative;
    overflow: hidden;
    height: 400px;
}
.swiper3{
    transition: .5s ease all;
}
.project-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 18px;
    color: #050505;
    white-space: nowrap;
    transition: .4s ease-in-out;
    z-index: 9;
    position: relative;
    bottom: -160px;
}
.project-title {
    white-space: nowrap;
    font-size: 16px;
    color: #000000;
    transition: .5s ease-in-out;
    position: relative;
    bottom: -200px;
}
.section-box {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    height: 400px;
}
.swiper-zoom-container img {
    width: 100%;
    height: 100%;
}
.active .swiper3{
    height: 550px ;
}
.swiper3{
    height: 400px;
    border-radius: 5px;
}
.swiper3 img{
    border-radius: 5px;
}
i{
  margin-right:5px;
}
.project-date{
  font-size:16px;
    color: #6C6F8A;
}
span.type-project {
    font-size: 14px;
    padding: 20px 0;
    display: block;
    font-weight: bold;
    /* color: #fff; */
    position: relative;
    bottom: -200px;
    transition: .6s ease-in-out;
}
.section-projects-overflow:hover .title-area {
    transition: .3s ease-in-out;
    bottom: 0;
    z-index: 9;
}
.section-projects-overflow:before {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000063;
    transition: .3s ease-in-out;
    transform: scale(0);
}
.section-projects-overflow:hover::before {
    transition: .3s ease-in-out;
    transform: scale(1);
}
.section-projects-overflow:hover .title-area .project-type {
    transition: .4s ease-in-out;
    bottom: 0;
}
.section-projects-overflow:hover .title-area .project-title {
    transition: .5s ease-in-out;
    bottom: 0;
}
.section-projects-overflow:hover .title-area span.type-project {
    bottom: 0;
    transition: .6s ease-in-out;
}

.section-details {
    position: relative;
    width: calc(100% - 320px);
}
em {
    font-style: normal;
}

.date-type span em {
    display: block;
    margin: 10px 0;
    background: #2c085d !important;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
}

.date-type {
    height: fit-content;
}
.inner-page {
    position: relative;
    width: 100%;
    display: flex;
}
.inner-page .card-img img {
    width: 100%;
    height: 100%;
}
.inner-page .card-img {
    position: sticky;
    width: 330px;
    height: 400px;
    top: 20px;
    box-shadow: 0 0 25px #cfcbcb;
    border-radius: 10px;
}
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
@media only screen and (max-width: 1147px) {
  .section-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
    
}
.section-boxes-wrap{
    padding: 10px 0;
    width: 40%;
    height: auto;
}
}

@media only screen and (max-width: 785px) {
  .section-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
    
}
.section-boxes-wrap{
    padding: 10px 0;
    width: 400px;
    height: auto;
}
.inner-page {
    flex-wrap: wrap;
}

.inner-page .card-img {
    position: relative;
}

.section-details {
    width: 100%;
}

.section-details {
    margin-top: 50px;
}

ul.place-details__reviews.py-2.rates {
    width: 100%;
}

li#empty {
    margin: 0 !important;
}
}